.row
	.col-xs-10.col-xs-offset-1.rating-field
		h2.rating-header #{header}
		h2.rating-display
			span.rating-value= average
			//- add space between value and unit
			| 
			| #{unit}

		if time
			p.rating-info Last Updated #{time}
			p.rating-info #{numberOfVotes} vote#{(numberOfVotes > 1 ? 's' : '')} in the last 6 hours
		else
			p.rating-info No Recent Updates
.row
	.col-xs-10.col-xs-offset-1
		hr.rating-seperator
